*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}

nav {

    min-height: 80px;
    background-color: #1f1f1f;
    text-align: center;

}

nav ul {

    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{

    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {

    margin-right: 0px;


}

nav img {

    margin-top: 18px;
    max-height: 48px;
    background-color: transparent;

    
}

.spacer {

    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width  */
    width: calc(95% - 40px - 268px);


}

nav ul li a{


    text-decoration: none;
    font-size: 15px;


}


nav ul li a:link,
nav ul li a:visited {

    color: rgba(38, 145, 238, 0.948);
    

}
nav ul li a.current{
    color: rgb(41, 246, 153);
    font-weight: bold;


}

nav ul li a:hover{

    color: orange;
}

nav ul li a:active{

    color: green ;
}


main {

    height: 598px;
    

}

/* Main & Rightsidebar css */
.page-wrapper {

    width: 1513px;
    height: 600px;
    font-size: 0px;
    font-family: Arial, sans-serif;
}

.content-area {

    padding: 25px;
    display: inline-block;
    width: 1213px;
    height: 800px;
    background-color: #479af2;
    color: white;
 

    font-size: 16px;

}

.leftsectionsizesstyle {

    margin-bottom: 20px;
    margin-left: 130px;
    padding: 10px;

    text-align: center;
    width: 850px;
    height: 50px;
    text-align: center;
    background-color: #1F4E79;
    border: 5px solid rgb(194, 227, 255);


}

section.leftsectionsizesstyle {


    margin-left: 50px;
    padding: 10px;
    display: inline-block;
    width: 300px;
    height: 50px;

}


.rightsidebar {

    display: inline-block;
    width: 300px; 
    height: 800px;
    vertical-align: top;
    padding: 0px;
    background-color: #302f2f ;
    border-left: 0px;
    /* margin-left: 17px; */
    font-size: 16px;
}

#webtoolkitheader {


    padding-top: 30px;
    color: rgb(219, 219, 219);

    
    
}

div.rightsidebarsectionsizestyle {

    height: 470px;
    text-align: center;
    margin-top: 50px;
    padding: 5px;

}

nav.modifier {

    height:500px ;
    background-color: #302f2f
    
}

li.modifier{

    margin-right: 0px;
    padding-bottom: 20px;
    display: block;

}


/* Footerarea */

.navegationbox {

    margin-top: 200px ;
    padding-top: 40px; ;

}

footer {


    background-color: #1f1f1f;
    padding: 0px;
    height: 70px;
   

}


div.spacerfooter {

    border: 1px solid rgb(78, 77, 77);
    display: inline-block;
    width: 1350px;




}

p.footerstyle {

    color: rgb(224, 221, 221);
    text-align: center;
    padding-top: 20px; ;



}

/* Services dropdown menu */
#services-li {
    position: relative;
}

#services-li:hover #services-menu{

    opacity: 1;
    visibility: visible;
    transform: translateY(0);


}

#services-menu {

    position:absolute;
    top: 110%;
    left: 0px;
    z-index: 1;
    margin-bottom: 0px;
    padding: 4px 16px;
    background-color: #252525;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.15s;

}

#services-menu li {
    margin-right: 0px;
    padding-top: 4px 0px;

}

#services-menu a {
    display: inline-block;
    padding-top: 10px ;
    white-space:nowrap;
}

/* page Sections and content */

main section{
    height: 200px;
}

.section-a {
    background-color: blue;
}

.section-b {
    background-color: yellow;

}

.backtotopbutton {

    position: fixed;
    height: 80px;
    width: 80px;
    right: 40px;
    bottom: 20px;


}
