*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}

nav {

    min-height: 80px;
    background-color: #1f1f1f;
    text-align: center;

}

nav ul {

    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{

    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {

    margin-right: 0px;


}

nav img {

    margin-top: 18px;
    max-height: 48px;
    background-color: transparent;

    
}

.spacer {

    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width  */
    width: calc(95% - 40px - 268px);


}

nav ul li a{


    text-decoration: none;
    font-size: 15px;


}


nav ul li a:link,
nav ul li a:visited {

    color: rgba(38, 145, 238, 0.948);
    

}
nav ul li a.current{
    color: rgb(41, 246, 153);
    font-weight: bold;


}

nav ul li a:hover{

    color: orange;
}

nav ul li a:active{

    color: green ;
}


main {

    height: 598px;
    

}

/* Main & Rightsidebar css */
.page-wrapper {

    width: 1513px;
    height: 600px;
    font-size: 0px;
    font-family: Arial, sans-serif;
}

.content-area {

    padding: 25px;
    display: inline-block;
    width: 1213px;
    height: 600px;
    background-color: #479af2;
    color: white;
 

    font-size: 16px;

}

.leftsectionsizesstyle {

    margin-bottom: 20px;
    margin-left: 130px;
    padding: 10px;

    text-align: center;
    width: 850px;
    height: 50px;
    text-align: center;
    background-color: #1F4E79;
    border: 5px solid rgb(194, 227, 255);


}

section.leftsectionsizesstyle {


    margin-left: 50px;
    padding: 10px;
    display: inline-block;
    width: 300px;
    height: 200px;

}


.rightsidebar {

    display: inline-block;
    width: 300px; 
    height: 600px;
    vertical-align: top;
    padding: 0px;
    background-color: #302f2f ;
    border-left: 0px;
    /* margin-left: 17px; */
    font-size: 16px;
}

#webtoolkitheader {


    padding: 10px;
    color: rgb(219, 219, 219);

    
    
}

div.rightsidebarsectionsizestyle {

    height: 470px;
    text-align: center;
    margin-top: 50px;
    padding: 5px;

}

nav.modifier {

    height:500px ;
    background-color: #302f2f
    
}

li.modifier{

    margin-right: 0px;
    padding-bottom: 20px;
    display: block;

}


/* Footerarea */

.navegationbox {

    padding-top: 30px ;

}

footer {


    background-color: #1f1f1f;
    padding: 0px;
    height: 70px;
   

}


div.spacerfooter {

    border: 1px solid rgb(78, 77, 77);
    display: inline-block;
    width: 1350px;




}

p.footerstyle {

    color: rgb(224, 221, 221);
    text-align: center;
    padding-top: 20px; ;



}
